/* import different file from outside  */
/* poppins roboto inter  */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Inter:wght@700&family=Poppins:wght@500;700&family=Roboto:wght@400;500&display=swap');
/* common utilities  */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    padding:40px 10%;
    font-family: 'Dancing Script', cursive;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.button{
    text-decoration: none;
    background-color: #DD0000;
    color: white;
    padding: 16px 25px;
    border-radius: 5px;
    /* width: 30%; */
    width: 187px;
    text-align: center;
}
.button:hover{
    transition: 0.3s;
    background-color:rebeccapurple;
    border-bottom:2px solid gold;
}
/* start header  */

/* top  banner  */
.website-main-banner{
    border-radius:35px;
    display:flex;
    justify-content:space-between;
    background-color:black;
    padding-left:5%;
    color:white;
    height: 646px;
}
.website-main-banner-left{
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:40%;
}
.website-main-banner-left>h1{
    width: 531px;
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
}
.website-main-banner-left>p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    width: 506px;
    margin:30px 0;
}
.website-main-banner-right{
    width:60%;
    padding-left:125px;
}
.website-main-banner-right>img{
    width:90%;
    height: 100%;
}

/* mobile responsibe  */
@media screen and (max-width:576px){
    /* common-utilities  */
    body{
        padding:10px 3%;
    }
    .button{
        width:161px;
        padding:8px 12px;
        gap:10px;
        background-color:#DD0000;
    }
    
    /* header  */
    /* website main banner section  */
    .banner-button{
        margin:auto;
    }
    .website-main-banner{
        flex-direction:column;
        align-items: center;
        padding-top:30px;
        border-radius:15px;
        padding-left:0;
        justify-content:space-around;
    }
    /* banner left part  */
    .website-main-banner-left{
        width:258px;
    }
    .website-main-banner-left>h1{
        width:228px;
        font-size:22px;
        line-height:33px;
        text-align:center;
    }
    .website-main-banner-left>p{
        width:258px;
        font-size:14px;line-height:24px;
        text-align:center;
    }
    /* banner right part  */
    .website-main-banner-right{
        width:233px;
        height:245px;
        margin:0;
        padding:0;
    }
    .website-main-banner-right>img{
        width:100%;
        height:100%;
    }
}
/* tab responsibe  */
@media screen and (min-width:577px) and (max-width:992px){
    /* common utilities */
    body{
        padding:20px 2.5%;
    }
    .banner-button{
        font-size:20px;
        line-height:23px;
        font-family:'roboto'
    }
    /* start header  */
    /* website main banner section  */
    .website-main-banner{
        width: 100%;
        padding-top:61px;
    }
    /* # banner left part  */
    .website-main-banner-left{
        width:316px;
    }
    .website-main-banner-left>h1{
        width:289px;
        font-size:40px;
        line-height:50px;
    }
    .website-main-banner-left>p{
        width:316px;
        font-size:14px;
        line-height:24px;
    }
    /* banner right part  */
    .website-main-banner-right{
        width:323px;
        padding-left: 0;
    }
}
