/* import different file from outside  */
/* poppins roboto inter  */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Inter:wght@700&family=Poppins:wght@500;700&family=Roboto:wght@400;500&display=swap');
/* common utilities  */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.resize{
    padding:0 10%;
}
body{
    padding-top:50px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.button{
    text-decoration: none;
    background-color: #DD0000;
    color: white;
    padding: 16px 25px;
    border-radius: 5px;
    /* width: 30%; */
    width: 187px;
    text-align: center;
}
.button:hover{
    transition: 0.3s;
    background-color:rebeccapurple;
    border-bottom:2px solid gold;
}
/* tablet button  */
#for_tablet_view{
    display:none;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 500;
}
/* start header  */

/* top  banner  */
.website-main-banner{
    border-radius:35px;
    display:flex;
    justify-content:space-between;
    background-color:black;
    padding-left:5%;
    color:white;
    height: 646px;
}
.website-main-banner-left{
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:40%;
}
.website-main-banner-left>h1{
    width: 531px;
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
}
.website-main-banner-left>p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    width: 506px;
    margin:30px 0;
}
.website-main-banner-right{
    width:60%;
    padding-left:125px;
}
.website-main-banner-right>img{
    width:90%;
    height: 100%;
}
/* main start  */
.all-blogs{
    margin-top:100px;
    display:flex;
}
/* #menu bar  */
.menubar{
    width:312px;
    height:312px;
    background-color:black;
    padding:20px 20px 5px 20px;
    border-radius:10px;
}
#visited_button{
    background-color:#DD0000;
}
/* for the selected button  */
#visited_button>a{
    color:white;
}
.menubar>ul>li>a{
    color:black;
}
/* selected button end  */
.menubar>ul>li{
    list-style:none;
    width:100%;
    background-color: whitesmoke;
    margin-bottom:45px;
    text-align:center;
    padding:15px 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color:black;
    border-radius:10px;
}
.menubar>ul>li>a{
    text-decoration:none;
}
.blogs {
    padding-left: 50px;
    flex-grow: 1;
    /* background-color: rebeccapurple; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.blog{
    width:100%;
    /* background-color:gold; */
    border-radius:10px;
    box-shadow: 0 0 30px #ebebeb;
}
.blog-image>img{
    width:100%;
    height:175px;
}
a.blog_button.button {
    background-color: transparent;
    border: 1px solid gray;
    padding: 2px 18px;
    color: rgb(35, 35, 35);
}
.blog-details{
    /* border:1px solid black; */
    padding:15px 10px;
}
.blog-details>p {
    margin: 10px 0;
    width: 272px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}
.time_comment>a {
    margin-right: 22px;
    color: gray;
    text-decoration: none;
}
.time_comment>a>span{
    margin-left:2px;
}
/* main end  */
/* start footer  */
footer{
    height:444px;
    background-color:black;
    color:white;
    padding:50px 100px;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
.footer_menu>ul{
    display:flex;

}
.footer_menu>ul>li{
    list-style:none;
    margin-right:30px;
}
.footer_menu>ul>li>a{
    text-decoration:none;
    color:white;
}
.footer_menu>ul>li>a:hover{
    color:#DD0000;
}
footer>hr{
    width:100%;
    margin:30px 0;
}
.footer_social_media_icons {
    margin-top: 30px;
}
.footer_social_media_icons>a{
    margin-right:20px;
    color:white;
    font-size:40px;
}
.footer_social_media_icons>a:hover{
    color:blue;
}
/* end footer  */
/* mobile responsibe  */
@media screen and (max-width:576px){
    /* common-utilities  */
    body{
        padding:10px 3%;
    }
    .button{
        width:161px;
        padding:8px 12px;
        gap:10px;
        background-color:#DD0000;
    }
    
    /* header  */
    /* website main banner section  */
    .banner-button{
        margin:auto;
    }
    .website-main-banner{
        flex-direction:column;
        align-items: center;
        padding-top:30px;
        border-radius:15px;
        padding-left:0;
        justify-content:space-around;
    }
    /* banner left part  */
    .website-main-banner-left{
        width:258px;
    }
    .website-main-banner-left>h1{
        width:228px;
        font-size:22px;
        line-height:33px;
        text-align:center;
    }
    .website-main-banner-left>p{
        width:258px;
        font-size:14px;line-height:24px;
        text-align:center;
    }
    /* banner right part  */
    .website-main-banner-right{
        width:233px;
        height:245px;
        margin:0;
        padding:0;
    }
    .website-main-banner-right>img{
        width:100%;
        height:100%;
    }
    /* blog section  */
    .all-blogs{
        align-items: center;
        flex-direction:column;
        margin-top:50px;
    }
    /* menubar  */
    .menubar{
        background-color: transparent;
        margin-bottom:30px;
    }
    .menubar>ul>li{
        border:1px solid gray;
        color:rgb(36, 36, 36);
    }
    /* blog  */
    .blogs{
        grid-template-columns: repeat(1,1fr);
        padding-left:0;
        gap:30px;
    }
    /* footer start  */
    .footer_menu>ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer_menu>ul>li{
        margin:0;
        margin-top:10px;
    }
    .footer_social_media_icons>a {
        margin-right: 10px;
        color: white;
        font-size: 20px;
    }
    /* footer end  */
}
/* tab responsibe  */
@media screen and (min-width:577px) and (max-width:992px){
    /* common utilities */
    body{
        padding:20px 2.5%;
    }
    .banner-button{
        font-size:20px;
        line-height:23px;
        font-family:'roboto'
    }
    /* start header  */
    /* website main banner section  */
    .website-main-banner{
        width: 100%;
        padding-top:61px;
    }
    /* # banner left part  */
    .website-main-banner-left{
        width:316px;
    }
    .website-main-banner-left>h1{
        width:289px;
        font-size:40px;
        line-height:50px;
    }
    .website-main-banner-left>p{
        width:316px;
        font-size:14px;
        line-height:24px;
    }
    /* banner right part  */
    .website-main-banner-right{
        width:323px;
        padding-left: 0;
    }
    /* blog section  */
    .all-blogs{
        flex-direction:column;
        align-items:center;
    }
    .menubar{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        /* display: flex; */
        background-color: transparent;
    }
    .menubar>ul{
        display:flex;
    }
    .menubar>ul>li{
        margin-left:10px;
        border-radius:5px;
        border:1px solid rgb(213, 213, 213);
    }
    .blogs{
        grid-template-columns: repeat(2,1fr);
        padding-left:0;
        width:100%;
        margin-bottom:100px;
    }
    /* tab button  */
    #for_tablet_view{
        display:block;
    }
    .blog{
        width:100%;
    }
    .blog-image>img{
        width:100%;
        height:100%;
    }
    /* footer start  */
    .footer_menu>ul{
        flex-wrap:wrap;
        justify-content: center;
    }
    .footer_menu>ul>li {
        list-style: none;
        margin-right: 15px;
        margin-bottom: 10px;
        width: 120px;
    }
    .footer_menu>ul>li>a {
        text-decoration: none;
        color: white;
        font-size: 15px;
        font-weight: 500;
    }
}
