/* upcoming game page  */
.upcoming-game {
    display: flex;
    /* background-color: orange; */
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}
.blog-details.upcoming-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:0;
}
.blog-details.upcoming-details-header{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
}
p.upcoming-details_paragraph{
    text-align:center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
}
/* upcoming game page  */